* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.link {
  text-decoration: none;
  color: crimson;
}

.link.nuxt-link-exact-active {
  color: orange;
}
